<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/stylesheets/style.css'>
<title><%= title %></title>
</head>
<body>
<div class="wrapper">
    <div class="main-visual">
        <p class="title">Tassel</p>
    </div>
    <div class="container clearfix">
        <div class="main">
            <%- body %>
        </div>
        <div class="menu">
            <p class="menu-title">Category</p>
            <ul class="genre__list clearfix">
                <li class="genre__item">
                    <a href="/genres">すべて</a>
                </li>
                <% genreList.forEach(function(genreItem) { %>
                    <li class="genre__item">
                        <a href="/genres/<%= genreItem.genre_id %>"><%= genreItem.genre %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/index.js"></script>
</div>
</body>
</html>