/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック","YuGothic","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    color: #333;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
.main-visual {
    display: table;
    background-image: url(../images/book2.png);
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
}
.title {
    display: table-cell;
    width: 226px;
    top: 50%;
    left: 50%;
    margin-left: -118px;
    margin-top: -35px;
    display: table-cell;
    font-family: 'Verdana';
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}
.container {
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.main {
    padding-right: 240px;
    width: 100%;
    float: left;
}
.menu {
    float: right;
    margin-left: -200px;
    width: 200px;
}
.menu-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.menu-label {
    font-size: 20px;
}
.genre__list {
    padding: 20px 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.genre__item {
    margin-top: 13px;
    font-size: 13px;
    cursor: pointer;
}
.genre__item:hover {
    color: #ccc;
}
.genre__item:first-child {
    margin-top: 0;
}
.main-list {
    font-size: 0;
}
.main-list__item {
    display: inline-block;
    width: 50%;
    margin-top: 20px;
}
.main-list__item:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
.main-list__item:nth-child(-n+2) {
    margin-top: 0;
}
.main-list__item:nth-child(odd) {
    padding-right: 10px;
}
.main-list__item:nth-child(even) {
    padding-left: 10px;
}
.board {
    display: table;
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
}
.board__thumb {
    display: table-cell;
    width: 180px;
    height: 250px;
    background-position: center;
    background-size: cover; 
}
.board__info {
    position: relative;
    display: table-cell;
    width: 100%;
    padding-left: 10px;
}
.board__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.board__article {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-height: 2;
}
.board__bottom {
    right: 0;
    bottom: 0;
    position: absolute;
}
.board__genre {
    margin-right: 11px;
    float: left;
    font-size: 12px;
    color: #ccc;
}
.board__date {
    float: left;
    font-size: 12px;
    color: #ccc;
}
.btn {
    display: inline-block;
    padding: 8px;
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border-style: none;
    background-color: #4F545F;
}
.btn:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
.submit {
    padding: 8px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    border-style: none;
    background-color: #4F545F;
}
.input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px #ccc solid;
}
.article {
    width: 700px;
    height: 300px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.news-item {
    padding: 20px 0;
    color: #fff;
    border-top: 1px #fff dashed;
}
.news-item:first-child {
    border-top: none;
}
.board-form {
    margin-bottom: 20px;
}

/*
  board.ejs
*/

.board-inner {
    margin: 0 auto;
    padding: 0 40px;
}
.board-wrapper {
    margin-bottom: 40px;
}
.board-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.board-author {
    margin-bottom: 30px;
    text-align: center;
}
.article__text {
    line-height: 2;
    font-size: 15px;
}
.article__img {
    margin: 0 auto 30px auto;
    display: block;
}
.article__date {
    margin: 30px 0 0 0;
    text-align: right;
}
.board-btn {
    margin: 20px 0 20px  0;
}
.board-top {
    text-align: center;
}
.board-prev {
    float: left;
}
.board-next {
    float: right;
}

@media (max-width: 1060px) {
    .main-list__item {
        width: 100%;
    }
    .main-list__item:nth-child(2) {
        margin-top: 20px;
    }
    .main-list__item:nth-child(odd) {
        padding-right: 0;
    }
    .main-list__item:nth-child(even) {
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .main-visual {
        height: 250px;
    }
    .container {
        padding: 20px 0;
    }
    .main {
        padding-right: 0;
        padding: 0 10px;
        width: 100%;
        float: initial;
    }
    .menu {
        float: initial;
        padding: 10px;
        margin-top: 20px;
        margin-left:initial;
        width: initial;
    }
    .board__info {
        padding-left: 5px;
    }
    .board__thumb {
    width: 145px;
    height: 200px;
    }
    .board__article {
        -webkit-line-clamp: 6;
    }
    .genre__item {
        float: left;
        padding: 5px;
        margin-top: initial;
    }
    .board-inner {
    margin: 0 auto;
    padding: 0;
}
@media (max-width: 480px) {
    .main-visual {
        height: 200px;
    }
}
@media (max-width: 375px) {

}
